@font-face {
    font-family: "remixicon";
    src: url('remixicon.eot?t=1697703133716'); /* IE9*/
    src: url('remixicon.eot?t=1697703133716#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url("remixicon.woff2?t=1697703133716") format("woff2"),
    url("remixicon.woff?t=1697703133716") format("woff"),
    url('remixicon.ttf?t=1697703133716') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('remixicon.svg?t=1697703133716#remixicon') format('svg'); /* iOS 4.1- */
    font-display: swap;
}

[class^="ri-"], [class*="ri-"] {
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ri-play-fill:before { content: "\f00a"; }
.ri-pause-fill:before { content: "\efd7"; }
.ri-rewind-fill:before { content: "\f085"; }
.ri-speed-fill:before { content: "\f176"; }
.ri-repeat-line:before { content: "\f074"; }
.ri-repeat-one-line:before { content: "\f076"; }
.ri-volume-up-line:before { content: "\f2a2"; }
.ri-volume-mute-line:before { content: "\f29e"; }
