@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import "normalize.css";
@import "../font-icons/remixicon.css";

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(195deg, #2E3338, #181A1D);
  min-height: 100dvh;
  color: #A1A7AE;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-on-mobile {
  display: none;
  @media (max-width: 757px) {
    display: block;
  }
}